.home-background {
    background: url('/src/images/background.jpg')
    top center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
}

.box-one {
    color: white;
    font-family:georgia;
    background-color: #6080a3;
    position:relative;
    top: 100px;
    left: 500px;
    opacity: 90%;
    width: 300px;
    height: 100px;
    padding:15px;
    border: 5px solid #accdf2;
}

@media screen and (max-width: 940px) {
    .box-one {
        top: 50px;
        left: 250px;
        float: left;

    }
}